# django settings
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=your_secret_key_here
DEBUG=True
APP_PORT=1160
FRONTEND_PORT=5173
# database setups
POSTGRES_DB=freequeue
POSTGRES_USER=freequeue
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432



# redis setup
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CHANNEL_DB=1
REDIS_PASSWORD=your_redis_password_here
CACHE_TTL=60


#email setups
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password_here 


# celery setups worker
CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/1
CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/2
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE='UTC'
CELERY_ENABLE_UTC=True
CELERY_TASK_TRACK_STARTED=True

#grafana setups
GRAFANA_PORT=3060
#celery beat
CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler



# KANNEL SMS GATEWAY
KANNEL_USERNAME=your_kannel_username_here
KANNEL_PASSWORD=your_kannel_password_here
KANNEL_PORT=13013


# Assistant
HUGGINGFACE_API_KEY=your_huggingface_api_key_here
TAVILY_API_KEY=your_tavily_api_key_here
OLLAMA_API_KEY=your_ollama_api_key_here

HUGGINGFACE_MODEL_NAME=huggingface:meta-llama/Llama-3.1-8B-Instruct
OLLAMA_CLOUD_HOST=https://ollama.com
OLLAMA_LOCAL_HOST=http://ollama:11434
LOCAL_OLLAMA_MODEL=misolcrafter/gpt-oss_20b
CLOUD_OLLAMA_MODEL=minimax-m2.5:cloud