.qodo
.__pycache__
db.sqlite3
*.pyc
*.pyo
media
staticfiles
.env
WHEREAMI.md
Pipfile
Pipfile.lock
managed_context
test_suite_analysis
.github
notes.yml
backend/core/migrations/*
backend/core/tests/*

backend/stats/migrations/*
backend/stats/tests/*
backend/kannel/kannel.conf
nginx/nginx.conf
backend/accounts/migrations/*
backend/accounts/tests/*
backend/stats/migrations/*
backend/stats/tests/*
backend/assistant/migrations/*
backend/assistant/tests/*
ws_test.html

kannel/kannel.conf
nginx/nginx.conf
celerybeat-schedule
logs/

venv/
REPORTS.md
Planning



# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
